@import url('https://fonts.googleapis.com/css2?family=Cabin&family=Roboto&family=Roboto+Slab&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto Slab', sans-serif;
  background-color: white;
}

body {
  box-sizing: border-box;
}

#container {
  width: 100vw;
  position: relative;
}

#header,
.nav-links {
  display: flex;
}

#header {
  position: fixed;
  align-items: center;
  justify-content: space-around;
  width: 100vw;
  height: 4rem;
  box-shadow: 0 1px 4px rgba(146, 161, 176, 0.2);
}

.nav-links {
  align-items: center;
  justify-content: space-between;
  list-style: none;
}

.nav-links a {
  text-decoration: none;
  padding-inline: 15px;
  margin-inline: 20px;
}

.nav-name {
  color: #ff595a;
  font-size: 2.2em;
  min-width: max-content;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  background-color: black;
}

.hamburger {
  display: none;
  cursor: pointer;
  transition: 0.7s ease;
  padding: 0;
}

.header-text span {
  color: rgba(0, 0, 255, 0.795);
}

.header-text h1,
.nav-name span {
  color: black;
}

.header-text {
  font-size: 0.7rem;
}

.header-text h1 {
  font-size: 3em;
  line-height: 1.5em;
}

.front-page {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 88vh;
  margin: 0 25px;
}

.front-page img {
  width: 300px;
  height: auto;
  border-radius: 50%;
}

.about {
  color: black;
  margin: 0 25px;
  padding-block: 6em;
}

.about-section {
  display: flex;
  justify-content: space-around;
}

.about h1,
.project-header h1,
#contact {
  margin-bottom: 2em;
  text-align: center;
  color: black;
}

.intro,
.skillset {
  padding: 20px;
  border-radius: 10px;
  width: 40%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}

.intro h3,
.skillset h3 {
  text-align: center;
  padding: 5px;
  color: black;
}

.intro p,
.skillset li {
  font-size: 0.9em;
}

.skill-list {
  display: flex;
  justify-content: space-around;
}

.skillset li {
  list-style-type: none;
  text-align: left;
}

.skillset li h4 {
  font-size: 1.1rem;
}

#contact i {
  font-size: 50px;
  color: black;
}

.contact {
  margin: 0 25px;
}

.contact-body {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.accounts img {
  width: 55px;
  gap: 20px;
}

.accounts {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.accounts a {
  text-decoration: none;
}

.project-header h1 {
  text-align: center;
  font-size: 1.4em;
}

.project-box {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 40px;
  justify-content: center;
  padding: 20px;
  margin: 0 25px;
}

.project {
  color: black;
  background-color: #cac0b3;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}

.project-box img {
  width: 100%;
  height: 100%;
}

.project-img {
  display: block;
  width: 100%;
}

.project-box p,
.project-box a {
  font-size: 0.8em;
}

.project-box p {
  padding: 3px 0;
}

.project-box h3 {
  font-size: 1em;
  font-weight: bold;
}

.project-body {
  padding: 15px;
}

.project-body,
.project-body p,
.project-body h3,
.project-body a {
  background-color: #cac0b3;
}

.project-box a {
  color: #ff595a;
  text-decoration: none;
}

.nav-name,
.nav-links > li > a {
  color: black;
}

.projects {
  padding-block: 6em;
}

.about h1,
.project-header h1,
.contact h1 {
  font-size: 1.6em;
  color: black;
}

.home-socials i {
  font-size: 35px;
  color: black;
}

.button {
  font-size: 1rem;
  border: none;
  width: min-content;
  background-color: rgba(0, 0, 255, 0.795);
  padding: 5px 15px;
  border-radius: 5px;
  color: white;
  transition: 0.7s ease;
  margin: 25px 0;
}

.button:hover {
  background: #ff595a;
  transition: 0.7s ease;
  box-shadow: 0 10px 36px rgba(0, 0, 0, 0.2);
}

@media screen and (max-width: 1024px) {
  .front-page {
    flex-direction: column-reverse;
    justify-content: space-evenly;
  }

  .nav-name span {
    margin-right: 200px;
  }
}

@media screen and (max-width: 900px) {
  .hamburger {
    display: block;
    margin-right: 3px;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .nav-links {
    position: fixed;
    top: 67px;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    min-height: 450px;
    height: 90%;
    transition: 0.3s;
    right: -100%;
    background-color: black;
  }

  .nav-item,
  .nav-item a{
    background-color:black;
    color: white;
  }

  .nav-links.activated a{
    color: white;
  }

  .nav-links.activated {
    right: 0;
  }

  .front-page {
    padding-top: 4em;
    height: 90vh;
  }
}

@media screen and (max-width: 590px) {
  .header-text span {
    display: inline-block;
    min-width: max-content;
  }

  .about-section {
    display: block;
  }

  .intro,
  .skillset {
    width: 90%;
    justify-content: center;
    margin-bottom: 25px;
  }

  .projects {
    padding-block: 6em;
  }
}
